@model IEnumerable<ClevelandBlogs.Models.PostModels.PostListItemByCategoryId>

@{
    ViewBag.Title = "GetAllPostsByCategoryId";
}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

    @foreach (var item in Model)
    {
        <section class="blog-posts">
            <div class="row">
                <div class="col-md-8">
                    <article class="blog-posts">
                        <div class="row">
                            <div class="col-md-2">
                                <img class="img-fluid img-rounded" alt="" src="~/Assets/dj-johnson-jYtgDr-0AyM-unsplash.jpg" style="width: 10rem" />
                            </div>
                            <div class="col-md-10">
                                <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                <a href="@Url.Action("DetailsPost", new { id = item.PostId })" class="btn btn-primary">View Post</a>
                                <a href="@Url.Action("GetAllCommentsByPostId", new { id = item.PostId })" class="btn btn-primary">View Comments</a>
                            </div>
                        </div>
                    </article>
                </div>
                <aside class="col-md-1">
                    <div class="row">
                        <div class"col-sm-4">
                            <a>
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class"col-sm-4">
                            <a>
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div>
                            <a class="social-link py-4 w-100">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
     }

