@model IEnumerable<ClevelandBlogs.Models.ReplyModels.ReplyListItemByCommentId>

@{
    ViewBag.Title = "GetAllRepliesByCommentId";
}

<h2>GetAllRepliesByCommentId</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    @foreach (var item in Model)
    {
        <section class="blog-posts py-4">
            <div class="row">
                <div class="col-md-8">
                    <article class="blog-posts">
                        <div class="row">
                            <div class="col-sm-3">
                                <img class="img-fluid img-rounded" alt="" src="~/Assets/dj-johnson-jYtgDr-0AyM-unsplash.jpg" style="width: 15rem" />
                            </div>
                            <div class="col-sm-9">
                                <p>@Html.DisplayFor(modelItem => item.Content)</p>
                                @*<a href="@Url.Action("DetailsComment", new { id = item.CommentId })" class="btn btn-primary">Back to Comments</a>*@
                            </div>
                        </div>
                    </article>
                </div>
                <aside class="col-md-4">
                </aside>
            </div>
        </section>
    }


