@model IEnumerable<ClevelandBlogs.Models.CategoryModels.CommentListItemByPostId>

@{
    ViewBag.Title = "GetAllCommentsByPostId";
}

@*<p>
    @Html.ActionLink("Create New", "CreateComment")
</p>*@

@foreach (var item in Model)
{
    <section class="blog-posts">
        <div class="row">
            <div class="col-md-8">
                <article class="blog-posts">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="img-fluid img-rounded" alt="" src="~/Assets/dj-johnson-jYtgDr-0AyM-unsplash.jpg" style="width: 15rem" />
                        </div>
                        <div class="col-sm-9">
                            <p>@Html.DisplayFor(modelItem => item.Content)</p>
                            <a href="@Url.Action("GetAllRepliesByCommentId", new { id=item.CommentId })" class="btn btn-primary">View Replies</a>
                        </div>
                    </div>
                </article>
            </div>
            <aside class="col-md-4">
            </aside>
        </div>
    </section>
}

