/* Sidebar*/
#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: rgba(0, 0, 255, 0.3);
    border: darkslateblue solid;
    /*opacity: 0.9;*/
}

a:hover {
    background-color: rgba(0, 0, 255, 0.5) !important;
}

/* Main content*/
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

/* Change the width of the sidebar to fit the display*/
#wrapper.menuDisplayed #sidebar-wrapper{
    width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus{background-color: transparent;}






