@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cleveland Blogs</h1>
    <p class="lead">Welcome to Cleveland Blogs!</p>
    <div class="text-center">
        <a href="@Url.Action("IndexCategory", "Guest")" class="btn btn-primary">Enter</a>
    </div>
</div>

