@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cleveland Blogs!</h1>
    <p class="lead">Welcome to Cleveland Blogs!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sports</h2>
        <p>
            This is where a brief description for sports could go.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44392/Guest/GetAllPostsByCategoryId/1">Sports &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Politics</h2>
        <p>This is where posts for politics could go.</p>
        <p><a class="btn btn-default" href="https://localhost:44392/Guest/GetAllPostsByCategoryId/3">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>